.container {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

@keyframes micSize {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1); 
  }
}

.icon-container .icon {
  font-size: 32px;
}

.icon-container.active .icon {
  color: rgb(169, 18, 18);
  animation: micSize 0.6s infinite; /* Apply the animation */
}

  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .message {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .control-text {
    margin-top: 5px;
  }
  
  .transcript {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Add margin between flexbox items */
  .controls > * + * {
    margin-left: 30px;
  }
  